@model IEnumerable<TripListingServiceModel>
@{
    ViewData["Title"] = "All Available Trips";
}

@if (Model.Count() != 0)
{
    <h2 class="text-center">All Available Trips</h2>
    <div class="container full-page">
        <div class="row">
            @for (int j = 0; j < Model.Count(); j++)
            {
                Html.RenderPartial("_TripListingPartial", Model.ElementAt(j));
            }
        </div>
    </div>
}
else
{
    <h2>Currently there are no available trips</h2>
}
