body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body {
    background-image: url("http://localhost:51383/images/plane.jpg");
    opacity:0.86;
}

.trip-listing {
    height: 390px;
}
.trip-listing > .table-listing td{
    padding: 6px;
}
.jumbotron {
    background: transparent;
    height: 75vh;
    text-align:center;
}
.body-content, .full-page {
    min-height:75vh;
}
.table-white {
    background-color: #fff;
}